// New to Stylus? Check out http://learnboost.github.io/stylus
// Use modern CSS thanks to Autoprefixer: https://github.com/ai/autoprefixer

// Import CSS from "node_modules" and "bower_componen	ts"
// thanks to Stylus' "import css" and "paths" options

@import 'prism/themes/prism-okaidia.css'
@import 'prism/themes/animate.css'
@import url('http://fonts.googleapis.com/css?family=Calligraffitti|Open+Sans:400italic,700italic,400,700')
// Check out "bower_components/prism/themes/" for available themes
@charset "UTF-8";

/*!
 * animate.css -http://daneden.me/animate
 * Version - 3.5.2
 * Licensed under the MIT license - http://opensource.org/licenses/MIT

 * Copyright (c) 2017 Daniel Eden
 */
 
p
	text-align:justify

 h1
   font-size:1px;
   

 .bespoke-slide
 	background-color:black;